/* styles.css */


#chatRoom {
  padding: 10px;
}

/* Style for the message board */
#messageBoard {
    overflow-y: scroll;
    height: 300px; /* Set an appropriate height for the message board */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
  }
  
  /* Style for individual messages */
  .message {
    margin-bottom: 10px;
  }
  
  /* Style for the message input field */
  #messageInput {
    width: calc(100% - 80px); /* Adjust width to fit button */
    padding: 8px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
  }
  
  /* Style for the send button */
  #sendMessageBtn {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  