body, html {
  height: 100%;
  margin: 0;
  background-color: #e5daba;
}

header img {
    max-width: 100%; /* Set the width of the image */
    height: auto; /* Maintain the aspect ratio */
}

#home {
  padding: 10px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    /* border: 2px solid #ff5e1e; */
    background-color: #b8a28a;
  }

/* Style the buttons that are used to open the tab content */
.tab a {
    background-color: inherit;
    color: #1f2121;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    text-decoration: none;
  }

.tab a.split {
  float: right;
  margin-right: 10px;
}

/* Change background color of buttons on hover */
.tab .open-button:hover, a:hover {
    background-color: #21b14c;
    color: wheat;
  }

/* Create an active/current tablink class */
.tab a.active {
    background-color: #21b14c;
    color: wheat;
  }

h1 ,  h3{
  color: #1f2121;
}

footer {
  background-color: #ff4f00;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer img {
  display: block; 
  margin: 0 auto;
}

