img {
    max-width: 100%; /* Set the width of the image */
    height: auto; /* Maintain the aspect ratio */
}

.navbar {
    background-color: #FFF4A3;
    width: 300px;
}

.checkbox-row {
    /* Add styles specific to the checkbox row */
}
